
.main-header {
    padding: 20px;
    
}

.logo {


}

a {
    text-decoration: none;
    cursor: crosshair;
}

img {


}

.top-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;

}