/*----Layout Conntainers---*/
.main-header{
    padding: 20px;
    
}

.contents {


}

.top-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.homepage-main {
    
}




/*Media Queries*/

@media (min-width:769px) {
    .top-container {
     width: 70%;
     max-width: 1000px;
     margin: 0 auto;

    }
}

