/*----grid layout--------*/


.buttons {
  max-width: auto;
  display: grid;
  padding-top: 30px;
  padding-left: 50px;
  grid-template-columns: 500px 200px 200px;
  grid-column-gap: 5px;
  margin: 0 auto;
}


  /*Media Queries*/

@media (min-width: 769px) {
  .nav {
    background-color:#333645;
    max-width: auto;
    display: grid;
    padding: 20px 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 30px;
    margin: 0;
}
.buttons {
  max-width: auto;
  display: grid;
  padding-top: 30px;
  padding-left: 50px;
  grid-template-columns: 500px auto auto auto;
  grid-column-gap: 10px;
  margin: 0 auto;
}

.small-logos {
  max-width: auto;
  display: grid;
  padding-top: 30px;
  padding-left: 50px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-column-gap: 10px;
  margin: 0 auto;

}  
}
