//*--Base Element Styles--*/

*{
  box-sizing: border-box;

}

/*main variables*/
$main-color: #333645;
$main-buttons-radius: 10%;
$main-buttons-display: block;
$main-buttons-width: 96%;
$main-buttons-max-height: 600px;
$main-buttons-margin: 2%;
$main-buttons-border-color: rgb(180, 177, 177);
$mains-button-background-color: white;
$mains-button-border-width: 1px;


$main-font-family: Verdana, Geneva, Tahoma, sans-serif;
$main-font-weight: lighter;
$main-font-color: white;

/* colours used when hovering over main buttons*/

$hover-color-blue: #67809f;
$hover-color-purple: rgb(179, 1, 179);

/*button variables */
$page-buttons-border-radius: 8%;
$page-buttons-background-color:#232530;
$page-buttons-left-padding: 8%;
$page-buttons-right-padding: 8%;
$page-buttons-top-padding: 4%;
$page-buttons-bottom-padding: 4%;
$page-buttons-border-width: 0px;

/* card variables*/

$card-max-width: 100%;
$card-display: grid;
$card-margin: 20px;
$card-padding: 5px;
$card-border: solid gray thin ;
$card-border-radius: 2% ;
$card-img-margin: 10px;
$card-img-width: 150%;




.nav-item {
display: none;
padding: auto;
width: auto;
margin: 0 auto;
}

.nav-link {
display: none;
font-family: Poppins,sans-serif;
text-decoration: none;
color:white;
width: auto;
margin: 0 auto;
}
   
   
   


.container {
  max-width: auto;
  display: grid;
  padding-top:20px;
  padding-left:20px;
  padding-bottom: 10px;
  grid-template-columns: auto auto auto ;
  grid-column-gap: 30px;
  
}



#netmatters { 
  width: 100%;
  padding-left: 10px;
}


.fa-bars {
  width: 100%;
}

.fa-phone {
  width: 100%;
 
}

.form-control {
  background-color: rgb(192, 188, 188);
  width: 80%;
  padding: 10px ;
  margin: 30px;
}

.search-bar {
  padding-left: 10px;
  width: 100%;
  margin-top: 0%;
}




#main-photo {
  width: 100%;
  height: 100%;

}
  
h1 {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 padding-left: 30px;
} 

.adverts {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}



.image { 
  position: relative; 
  width: 20%
}

caption { 
  position: absolute; 
  top: 400px; 
  left: 10px; 
  width: 100%; 
  font-family:$main-font-family;
  font-size: 80px;
  color: $main-font-color;
 
}

.main-buttons
 {
  
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  max-width: auto;
  display: grid;
  padding: 20px 20px;
  grid-template-rows: auto auto auto auto auto auto auto ;
  grid-rows-gap: 30px;
  
}

.btn-primary {
  
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
  
 
}

.btn-primary-2 {
  
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
}
  .btn-primary-3 {
  
    display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
  }

  .btn-primary-4 {
  
    display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
  }

  .btn-primary-5 {
  
    display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
  }

  .btn-primary-6 {
  
    display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
  }

  .btn-primary-7 {
  
    display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  border-color: $main-buttons-border-color;
  background-color: $mains-button-background-color;
  border-width: $mains-button-border-width;
  cursor: pointer;
  }

  .small-logos {
    max-width: auto;
    display: grid;
    padding: 20px 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 30px;
    margin: 0;
    cursor: pointer;
    
  
  
  }
  
  
 

 .btn-primary .text {
  font-family: $main-font-family;
 }




.welcome   {
  background-color:$main-color;
  max-width: 100%;
  display: grid;
  color:$main-font-color;
  padding-right: 5px;


 
    
 
}

.info h1 {
  display: $main-buttons-display;
  border-radius: $main-buttons-radius;
  width: $main-buttons-width;
  max-height: $main-buttons-max-height;
  margin: $main-buttons-margin;
  margin-left: 30 px;

}
.clients h1 {
  margin-left: 5px;

}
.clients h3 {
font-style: italic;

}

.fa-star {
  color:rgb(255, 238, 0);
  font-size: 50px;
  padding-right: 20px;
}

.btn-primary-welcome {
  border-radius:$page-buttons-border-radius ;
  background-color: $page-buttons-background-color;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
}

h4 {
  font-family: $main-font-family;
  color:gray;
}
.btn-primary-client {
  border-radius:$page-buttons-border-radius ;
  background-color: $page-buttons-background-color;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
}

.btn-primary-client2 {
  border-radius:$page-buttons-border-radius ;
  background-color: rgb(2, 168, 2);
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  margin-top: 20px;
}




.cards {

 max-width: $card-max-width;
  display:$card-display;
  font-family: $main-font-family;
  margin: $card-margin;
  padding-right: $card-padding;
  border: $card-border;
  border-radius: $card-border-radius ;
  
  
  
 
 

}

.card-img {
margin: $card-img-margin;
width: $card-img-width;
}


.card-title-1  {

  color: $hover-color-blue;
  font-size: medium;
  margin:10px;
  
}
 
.card-text {
 color: grey;
 margin:10px;


}

.btn-primary-card1 {
  border-radius:$page-buttons-border-radius ;
  background-color: $hover-color-blue;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  margin: 20px;
  
}

.btn-primary-cardlogo {
  border:none;
  background-color: white;
}

.postedb {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding-left:50px;
}

.posted-by-netmatters h6 {
  color:gray;
}

.cards-2 {
  max-width: $card-max-width;
  display:$card-display;
  font-family: $main-font-family;
  margin: $card-margin;
  padding-right: $card-padding;
  border: $card-border;
  border-radius: $card-border-radius ;
  
}

.card-img-2 {
  margin: $card-img-margin;
  width: $card-img-width;
}

.card-title-2  {

  color: rgb(179, 1, 179);
  font-size: medium;
  margin:10px;
  font-family: $main-font-family;
  
}



.btn-primary-card2 {
  border-radius:$page-buttons-border-radius ;
  background-color: $hover-color-purple;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  margin: 20px;
  
}

.cards-3 {
  max-width: $card-max-width;
  display:$card-display;
  font-family: $main-font-family;
  margin: $card-margin;
  padding-right: $card-padding;
  border: $card-border;
  border-radius: $card-border-radius ;
  
}

.card-img-3 {
  margin: $card-img-margin;
  width: $card-img-width;
}

.card-title-3  {

  color: rgb(179, 1, 179);
  font-size: medium;
  margin:10px;
  font-family: $main-font-family;
  
}



.btn-primary-card3 {
  border-radius:$page-buttons-border-radius ;
  background-color: $hover-color-purple;
  padding-left: $page-buttons-left-padding;
  padding-right: $page-buttons-right-padding;
  padding-top: $page-buttons-top-padding ;
  padding-bottom: $page-buttons-bottom-padding;
  font-family: $main-font-family;
  color: $main-font-color ;
  border-width: $page-buttons-border-width; 
  margin: 20px;
  
}


.view-all {
  border: none;
  background: transparent;
  padding:15px;
 margin-left: 35%;
  font-family: $main-font-family;
  font-weight: bold;
  font-size: x-large;
 
 
}



.email-form
{
  display: grid;
  font-family: $main-font-family; 
  background-color: rgb(206, 206, 206);
  grid-template-rows: auto;
  grid-row-gap: 20px;
  font-weight: lighter;
  
  
  

}

.email-form h1 
{
  font-weight: lighter;
  text-align: center;
}

.form-label 
{
  margin:40px;
  border-top: 20px;
  
  
}

.fa-asterisk 
{
  color: red;
  font-size: 10px;
}


.form-check-input
{
 
  color: $main-color;
  background: transparent;
  background-color: $main-color ;
  width: 30px;
  height: 30px;
  margin: 20px;
  text-align: center;
  font-family: $main-font-family;
  float: left;
}

.form-check-label 
{
  color:#333645;
  font-weight: lighter;
}
.btn-primary-subscribe 
{
background-color: #333645;
border-radius:$page-buttons-border-radius ;
padding-left: $page-buttons-left-padding;
padding-right: $page-buttons-right-padding;
padding-top: $page-buttons-top-padding ;
padding-bottom: $page-buttons-bottom-padding;
font-family: $main-font-family;
color: $main-font-color ;
border-width: $page-buttons-border-width; 
margin: 20px;
}

.footer  {
margin-top: 20px;
display:grid;
 background-color: #232530;

}



/*Media Queries*/

@media only screen and(min-width: 769px) {



 .fa-bars {
  display: none;
  width: 100%;
}

.fa-phone {
  display: none;
  width: 100%;
 
}

.form-control {
  display: none;
  background-color: rgb(192, 188, 188);
  width: 80%;
  padding: 10px ;
  margin: 30px;
}

.search-bar {
  display: none;
  padding-left: 10px;
  width: 100%;
  margin-top: 0%;
}


  .nav {
    background-color:$main-color;
    max-width: auto;
    display: grid;
    padding: 20px 20px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column-gap: 30px;
    margin: 0;
}

.nav-item {
  display: inline-block;
  padding: auto;
  width: auto;
  margin: 0 auto;
}

.nav-link {
  display: inline-block;
  font-family: Poppins,sans-serif;
  text-decoration: none;
  color:white;
  width: auto;
  margin: 0 auto;
}

caption { 
  position: absolute; 
  top: 400px; 
  left: 200px; 
  width: 100%; 
  font-family:$main-font-family;
  font-size: 100px;
  color: $main-font-color;
 
}

}
.small-logos {
  max-width: auto;
  display: column;
  padding-top: 30px;
  padding-left: 50px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-column-gap: 20px;
  margin: 0 auto;


}
.input-group .form-control {
  background-color: rgb(192, 188, 188);
  width: 75%;
  padding: 20px ;
  margin: 20px;
}


  /*# sourceMappingURL=style.css.map */