
.main-nav{
    padding: 20px;
    background-color: #79539a;
    
    
}

.logo {


}

a {
    text-decoration: none;
    cursor: crosshair;
}

img {
    border: 0;
}

.top-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;

}

